# Virtual environment
venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Data Files
dataset/google_cluster/data
dataset/alibaba/data
